<!DOCTYPE html>

<html>
    <head>
        <link rel="stylesheet" href="css/styles.css">
    </head>
    <body>
        <h1>{{title}}</h1>
        <img src="img/217702223_10159535870475126_4603908640023017208_n.jpg">
    </body>
</html>