<!DOCTYPE html>

<html>
    <head>
        <link rel="stylesheet" href="css/styles.css">
    </head>
    <body>
        {{>header}}
        <img src="img/217702223_10159535870475126_4603908640023017208_n.jpg">
        {{>footer}}
    </body>
</html>