<!DOCTYPE html>

<html>
    <head>
        <title>about</title>
        <link rel="stylesheet" href="css/styles.css">
    </head>
    <body>
        <div class='container'>
            {{>header}}
            <img class='avatar' src="img/217702223_10159535870475126_4603908640023017208_n.jpg">
        </div>
        {{>footer}}
    </body>
</html>