<!DOCTYPE html>

<html>
    <head>
        <title>help</title>
        <link rel="stylesheet" href="css/styles.css">
    </head>
    <body>
        <div class='container'>
            {{>header}}
            <h3> i am help </h3>
        </div>
        {{>footer}}
    </body>
</html>